<!-- Wrapper Start -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="block">
					<div class="section-title">
						<h2>About Us</h2>
						<p>QZero is a dynamic and innovative software development company that specializes in delivering cutting-edge 
							solutions to meet the ever-evolving needs of businesses across a range of industries. With a talented 
							team of experienced developers and designers, QZero is dedicated to helping its clients achieve their 
							goals by leveraging the latest technologies and best practices in software development.</p>
					</div>
					<p>At QZero, we believe that every business is unique, and we take a collaborative approach to understanding our 
						clients' needs and objectives. We work closely with our clients to develop customized software solutions that 
						are tailored to their specific requirements and deliver real value. Whether you need a simple mobile app, a complex 
						enterprise software system, or anything in between, QZero has the expertise and experience to deliver high-quality 
						solutions that meet your needs. </p>
						<p>Our team has a deep understanding of the latest technologies, including AI, blockchain, and cloud computing, 
							and we use this knowledge to deliver innovative software solutions that drive business success. At QZero, 
							we're committed to delivering exceptional results and outstanding customer service. Our team is dedicated 
							to ensuring that every project is completed on time, on budget, and to the highest standards of quality.</p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5">
				<div class="block">
					<img src="images/wrapper-img.png" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>