<section class="feature bg-2">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <h2 class="section-subtitle">WE BELIEVE IN GREAT IDEAS</h2>
        <p>A good idea can change the world. We believe in the power of ideas to make a difference. 
          We are passionate about helping our clients bring their ideas to life. We are committed to 
          providing our clients with the best possible service and support. We believe that our clients' 
          success is our success.
        </p>
        <a href="portfolio.html" class="btn btn-view-works">View Works</a>
      </div>
    </div>
  </div>
</section>