<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>Our Services</h2>
          <p>At Queue Zero, we specialize in providing a comprehensive range of tailored software 
            solutions to meet your business needs. Leveraging cutting-edge technologies and a team of 
            seasoned experts, we offer the following services:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>At Queue Zero, we understand that branding is more than just a logo and a color scheme. 
            It's about creating a unique identity for your business that will resonate with your target 
            audience. We work with you to develop a brand strategy that will help you achieve your 
            business goals. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>A well-designed website is essential for any business that wants to succeed online. We create 
            custom websites that are both visually appealing and easy to navigate. We also optimize your 
            website for search engines so that you can reach more potential customers. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Mobile apps are a great way to reach your customers on the go. We create custom apps that are 
            both functional and engaging. We also work with you to develop a marketing strategy for your app 
            so that you can reach the largest possible audience. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Starting a business is a lot of work, but we can help make it easier. We offer a variety of services 
            to help startups get off the ground, including business planning, marketing, and web development. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>A logo is one of the most important elements of your brand identity. We work with you to create a 
            logo that is unique, memorable, and appropriate for your target audience. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>We offer a variety of development services, including custom software development, web development, 
            and mobile app development. We work with you to understand your needs and develop a solution that 
            meets your specific requirements. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Your brand identity is how your customers perceive your business. We work with you to develop a brand 
            identity that is consistent and effective across all channels. </p>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- Call to action Start -->